@use '../../scss/variables';
@use '../../scss/mixins' as *;

header {
  background: url('../../assets/images/pattern-bg.png') center/cover no-repeat;
  text-align: center;
  padding-bottom: 6.5rem;
}

.title {
  color: #fff;
  font-weight: 500;
  font-size: 1.625rem;
  padding: 1rem 0;
}