$dark-grey-1: hsl(0, 0%, 17%);
$dark-grey-2: hsl(0, 0%, 59%);
$box-shadow: 0 3.125rem 3.125rem -1.5625rem rgba(0,0,0,.1);
$breakpoints-up: ("medium": "43.75rem", "large" : "63.75rem", "extra-large": "82rem");